# Database settings
PGDATABASE=codenar-challenge
PGHOST="db"
PGUSER=postgres
PGPASSWORD=""
PGPORT=5432

DJANGO_SETTINGS_MODULE=config.settings

# ALLOWED_HOSTS can be a comma-delimited string/list of host names
ALLOWED_HOSTS=localhost

# Set DEBUG = 0 to turn off Debug
DEBUG=1

# Don't use this secret key in production obviously
SECRET_KEY="top-secret"


REDIS_HOST="redis"

